# **Problem statement**

This is a problem of *binary classification*.

**Train set:** 10000 samples.

**Test set:** 2000 samples.

**Features:** 30.

Steps:
1.   Feature engineering.
2.   Validation setup.
3.   Parameters tuning.

Expected result: predicted probabilities for test set data belonging to the positive class.

Solution quality is measured by the standard ROC-AUC metric:
```
from sklearn.metrics import roc_auc_score

score = roc_auc_score(test_target, solution_frame)
```
Points are calculated using the formula:

`result = 100 if y > 0.82 else (40 + (y - 0.6) / 0.22 * 60 if y > 0.6 else 0)`

where *y* is the ROC-AUC metric result. The number of points is a rounded integer.

# **Install modules**

In [1]:
!pip install catboost

Requirement already satisfied: catboost in /usr/local/lib/python3.6/dist-packages (0.24.1)
Requirement already satisfied: pandas>=0.24.0 in /usr/local/lib/python3.6/dist-packages (from catboost) (1.0.5)
Requirement already satisfied: scipy in /usr/local/lib/python3.6/dist-packages (from catboost) (1.4.1)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.6/dist-packages (from catboost) (3.2.2)
Requirement already satisfied: plotly in /usr/local/lib/python3.6/dist-packages (from catboost) (4.4.1)
Requirement already satisfied: graphviz in /usr/local/lib/python3.6/dist-packages (from catboost) (0.10.1)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from catboost) (1.15.0)
Requirement already satisfied: numpy>=1.16.0 in /usr/local/lib/python3.6/dist-packages (from catboost) (1.18.5)
Requirement already satisfied: python-dateutil>=2.6.1 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.24.0->catboost) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.24.0->catboost) (2018.9)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.6/dist-packages (from matplotlib->catboost) (0.10.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib->catboost) (1.2.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib->catboost) (2.4.7)
Requirement already satisfied: retrying>=1.3.3 in /usr/local/lib/python3.6/dist-packages (from plotly->catboost) (1.3.3)

# **Add modules**

In [2]:
import matplotlib.pyplot as plt
%matplotlib inline
import numpy as np
import pandas as pd
pd.plotting.register_matplotlib_converters()
import seaborn as sns

from catboost import *
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.metrics import roc_auc_score

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

# **Load data**

In [3]:
# Specify the correct path to the train.csv file
train_path = './data/train.csv'
train_data = pd.read_csv(train_path, header=None)

# Specify the correct path to the train-target.csv file
target_path = './data/train-target.csv'
target_data = pd.read_csv(target_path, header=None)

# Specify the correct path to the test.csv file
test_path = './data/test.csv'
test_data = pd.read_csv(test_path, header=None)

# pd.set_option('display.float_format', lambda x: '%.2f' % x)

# **Analyse data**

In [4]:
train_data.head()

           0           1           2   ...          27          28         29
0 -220.530530  -70.197440  119.035181  ...   40.680890  -37.942655  33.838225
1   -8.536541   -8.305435 -117.828269  ...  -32.101939  -52.255449  -4.826111
2  126.229973  133.463504 -105.511797  ... -117.205053 -107.835928 -93.990332
3  369.571563   11.850181 -299.969407  ...  -25.218215  121.674228 -16.877368
4  -99.563708  -85.166292  -73.363391  ... -132.875142    3.492953 -15.799596

[5 rows x 30 columns]

In [5]:
train_data.describe()

                 0             1   ...            28            29
count  10000.000000  10000.000000  ...  10000.000000  10000.000000
mean      12.844797     -0.299114  ...      0.690934     -8.751687
std      331.218970     87.840630  ...    100.623747     78.557761
min    -1625.085835   -285.272638  ...   -388.045812   -338.939731
25%     -186.892257    -60.304200  ...    -66.301084    -61.817245
50%       30.376174     -0.576299  ...     -4.469156    -10.324727
75%      231.413537     58.639722  ...     62.984446     43.972321
max     1746.951115    348.103285  ...    455.981845    340.571609

[8 rows x 30 columns]

In [6]:
target_data.head()

   0
0  1
1  1
2  0
3  0
4  1

In [7]:
target_data.describe()

                  0
count  10000.000000
mean       0.505100
std        0.499999
min        0.000000
25%        0.000000
50%        1.000000
75%        1.000000
max        1.000000

In [8]:
test_data.head()

           0           1           2   ...          27          28          29
0  394.650101 -102.778703  -48.854416  ... -185.849095  -29.314711  -84.254441
1   62.200701 -139.323500  235.644493  ... -123.776910   65.756136  -10.378203
2  232.736729    5.502143  204.738165  ...   19.461847  126.144518 -121.300353
3  340.045437 -129.924115   62.694027  ...  109.700845  109.378365  -58.425305
4  -60.576957   71.958472  489.203093  ...  -11.602746   -8.162451  -87.902970

[5 rows x 30 columns]

In [9]:
test_data.describe()

                0            1   ...           28           29
count  2000.000000  2000.000000  ...  2000.000000  2000.000000
mean     12.330030     0.594732  ...     2.247501    -7.972199
std     328.044932    87.544043  ...   101.362127    76.902106
min   -1378.019194  -278.832794  ...  -390.183141  -255.942366
25%    -184.510033   -62.338859  ...   -65.972720   -57.571427
50%      26.355285    -0.258353  ...    -5.558406    -9.936732
75%     224.142150    61.381564  ...    64.326872    41.716363
max    1260.037550   309.024478  ...   407.922899   273.218286

[8 rows x 30 columns]

In [ ]:
plt.figure(figsize=(27,27))
for i in range(train_data.shape[1]):
    plt.subplot(6, 5, i+1)
    sns.distplot(train_data[i], bins=20)

In [ ]:
plt.figure(figsize=(27,27))
for i in range(test_data.shape[1]):
    plt.subplot(6, 5, i+1)
    sns.distplot(test_data[i], bins=20)

# **Preprocess data**

In [12]:
features_to_drop = [9, 15, 16, 17, 22, 26]
train_data = train_data.drop(features_to_drop, axis=1)
X_test = test_data.drop(features_to_drop, axis=1)

X = np.array(train_data)
y = np.ravel(target_data)

# **Build Catboost model**

In [13]:
X_train, X_valid, y_train, y_valid = train_test_split(X, y, train_size=0.8, random_state=123)

In [14]:
# These parameters give ROC AUC 0.8224
model = CatBoostClassifier(iterations=1400,
                           learning_rate=0.01,
                           l2_leaf_reg=8.0,
                           depth=10,
                           rsm=0.5,
                           loss_function='Logloss',
                           logging_level='Silent',
                           use_best_model=True,
                           random_state=123
                           )

In [15]:
model.fit(
    X_train, y_train,
    eval_set=(X_valid, y_valid)
    )

In [16]:
predictions = model.predict(X_train)
score = roc_auc_score(y_train, predictions)
print("Prediction score for training data:", score)
predictions = model.predict(X_valid)
preds_proba = model.predict_proba(X_valid)
score = roc_auc_score(y_valid, predictions)
print("Prediction score for validation data:", score)
score_proba = roc_auc_score(y_valid, preds_proba[:, 1])
print("Prediction score for validation data (proba):", score_proba)

Prediction score for training data: 0.9853696191456116
Prediction score for validation data: 0.801920192019202
Prediction score for validation data (proba): 0.8427112711271126

# **Cross-validation**

In [17]:
#cv_params = model.get_params()
#cv_data = cv(
#    Pool(X, label=y),
#    cv_params,
#    fold_count=5,
#    shuffle=True,
#    plot=True
#    )

In [18]:
#print('Best validation AUC score: {:.6f}{:.2f} on step {}'.format(
#    np.max(cv_data['test-AUC-mean']),
#    cv_data['test-AUC-std'][np.argmax(cv_data['test-AUC-mean'])],
#    np.argmax(cv_data['test-AUC-mean'])
#))

In [19]:
train_pool = Pool(X_train, y_train)
validate_pool = Pool(X_valid, y_valid)

# **Hyperparameters tuning**

In [20]:
#param_grid = {
#    'iterations': [500, 1000, 2000],
#    'learning_rate': [0.01, 0.03],
#    'l2_leaf_reg': [7, 9, 11],
#    'depth': [8, 10, 12],
#    'rsm': [0.4, 0.5, 0.6]
#    }

#cbc = CatBoostClassifier(loss_function='Logloss')
#tuned_model = cbc.grid_search(param_grid,
#                              X=X,
#                              y=y,
#                              cv=5
#                              )

In [21]:
tuned_model = CatBoostClassifier(iterations=1500,
                                 learning_rate=0.01,
                                 l2_leaf_reg=3.5,
                                 depth=8,
                                 rsm=0.98,
                                 loss_function='Logloss',
                                 logging_level='Silent',
                                 use_best_model=True,
                                 random_state=123)

tuned_model.fit(
    X_train, y_train,
    eval_set=(X_valid, y_valid)
    )

In [22]:
#tuned_model = CatBoostClassifier(
#    iterations=best['iterations'],
#    learning_rate=best['learning_rate'],
#    l2_leaf_reg=best['l2_leaf_reg'],
#    loss_function=best['loss_function'],
#    depth=best['depth'],
#    rsm=best['rsm'],
#    task_type='GPU',
#    verbose=False
#)
#cv_data = cv(Pool(X, y),
#             tuned_model.get_params(),
#             fold_count=5)

In [23]:
#print('Precise validation accuracy score: {}'.format(np.max(cv_data['test-AUC-mean'])))

In [24]:
predictions = tuned_model.predict(X_train)
score = roc_auc_score(y_train, predictions)
print("Prediction score for training data:", score)
predictions = tuned_model.predict(X_valid)
preds_proba = tuned_model.predict_proba(X_valid)
score = roc_auc_score(y_valid, predictions)
print("Prediction score for validation data:", score)
score_proba = roc_auc_score(y_valid, preds_proba[:, 1])
print("Prediction score for validation data (proba):", score_proba)
#print("Prediction proba for validation data:", preds_proba[:, 1])
#print("Prediction proba for test data:", tuned_model.predict_proba(X_test)[:, 1])

Prediction score for training data: 0.9260416359993822
Prediction score for validation data: 0.7998799879987999
Prediction score for validation data (proba): 0.8447094709470947

In [25]:
predictions = tuned_model.predict_proba(X_test)[:, 1]
output = pd.DataFrame(predictions)
output.to_csv('./data/submission.csv', index=False, header=False)